VITE_ADMIN_PASSWORD=123456
VITE_FIREBASE_API_KEY=AIzaSyAn7w6Ix8mbgrsAzFHVd3gd4nrfMwu5ws4
VITE_FIREBASE_AUTH_DOMAIN=baby-name-4268.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=baby-name-4268
VITE_FIREBASE_STORAGE_BUCKET=baby-name-4268.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=922430174308
VITE_FIREBASE_APP_ID=1:922430174308:web:5e2107a1a89c11e7d1db71
